$sidenav-bg-color: #282c34;
$item-blue-color: #00c0ef;
$item-blue-border: #00add7;
$item-green-color: #2ecc71; 
$item-green-border: #00a65a;
$item-yellow-color: #f39c12;
$item-yellow-border: #da8c10;

.home-main{
    display: flex;
    .home-side-nav{
        width: 300px;
        height: 100vh;
    }
    .home{
        width: calc(100vw - 300px);
        height: 100vh;
        .home-top{
            background-color: $sidenav-bg-color;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: end;
            padding-right: 20px;
            gap: 5px;
        }

        .home-opts{
            height: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            padding-bottom: 20px;
            .opts-title{
                font-size: 2.5rem;
                font-weight: 900;
                line-height: 4rem;
                padding:0.75rem 0rem 0.75rem 2rem;
            }

            .opts-items-wrap{
                display: flex;
                flex-direction: row;
                height: 100px;
                width: 100%;
                justify-content: space-evenly;

                .opts-item{
                    height: 100px;
                    width: 25%;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    .opt-item-left{
                        .opts-item-title{
                            font-size: 2rem;
                            font-weight: 900;
                        }

                        .opts-item-nos{
                            font-size: 1.5rem;
                        }
                    }

                    .opts-item-icon{
                        display: flex;
                        justify-content: end;
                        
                    }
                }

                .item-blue{
                    background-color: $item-blue-color;
                    border-left: $item-blue-border 10px solid;
                }

                .item-green{
                    background-color: $item-green-color;
                    border-left: $item-green-border 10px solid;
                }

                .item-yellow{
                    background-color: $item-yellow-color;
                    border-left: $item-yellow-border 10px solid;
                }
            }
        }

        .home-stats{
            height: calc(100% - 365px);
            .home-stats-title{
                height: 55px;
                line-height: 55px;
                font-size: 1.5rem;
                font-weight: 800;
                text-align: center;
            }

            .home-stats-graphs{
                height: calc(100% - 55px);
                display: flex;
                flex-direction: row;
                .home-stats-graph1{
                    width: 50%;
                }
                .home-stats-graph2{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                }
            }
        }


        .home-footer{
            height: 50px;
            background-color: $sidenav-bg-color;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
}