body{
    display: block;
    height: fit-content;
    box-shadow: none;
}

.invoice-main {

    font-size: 0.75rem;
    background-color: #ffffff; 
    color: #333333;
    border-radius: 10px; 
    padding: 20px;
    max-width: 800px;
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 

    @media print {
        .invoice-main {
            page-break-inside: avoid;
        }
    }
    
    .invoice-header {
        height: 1.5rem;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        div {
            font-size: 1.25rem;
            margin: 0;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            color: #333333;
        }
        margin-bottom: 100px;
    }

    .invoice-work-name{
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
        border: 1px solid #000;
        border-bottom: none;
    }
  
    .invoice-table {
        padding-top: 100px;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
  

        th {
            text-align: center;
            border: 1px solid #000;
            background-color: #fff;
        }

        tr {
            page-break-inside: avoid;

            td {
                border: 1px solid #000;
                vertical-align: middle;
                text-align: center;

            }
        }
        
    }
}
  